.c-table-0 {border:solid 1px 0px 1px 0}
.c-table-1 {width:5px;height:21px;background:url(../images/content_below_01.jpg) no-repeat left top; background-color:#418bb1;}
.c-table-1a {width:5px;height:42px;background:url(../images/content_below_01a.jpg) no-repeat left top; background-color:#418bb1;}
.c-table-2 {width:197px;height:21px;background:url(../images/content_below_tile.jpg);border-right:solid 1px #2f6a88;font-family:Tahoma; font-size:11px; letter-spacing:1px; color:#fff; text-align:center; margin-top:3px;}
.c-table-2a {width:197px;height:42px;background:url(../images/content_below_tile2.jpg);border-right:solid 1px #2f6a88;font-family:Tahoma; font-size:11px; letter-spacing:1px; color:#fff; text-align:center; margin-top:3px;}
.c-table-3 {width:133px;height:21px;background:url(../images/content_below_tile.jpg);border-right:solid 1px #2f6a88;font-family:Tahoma; font-size:11px; letter-spacing:1px; color:#fff; text-align:center; margin-top:3px;}
.c-table-3a {width:133px;height:42px;background:url(../images/content_below_tile2.jpg);border-right:solid 1px #2f6a88;font-family:Tahoma; font-size:11px; letter-spacing:1px; color:#fff; text-align:center; margin-top:3px;}
.c-table-4 {width:93px;height:21px;background:url(../images/content_below_tile.jpg);border-right:solid 1px #2f6a88;font-family:Tahoma; font-size:11px; letter-spacing:1px; color:#fff; text-align:center; margin-top:3px;}
.c-table-4a {width:93px;height:42px;background:url(../images/content_below_tile2.jpg);border-right:solid 1px #2f6a88;font-family:Tahoma; font-size:11px; letter-spacing:1px; color:#fff; text-align:center; margin-top:3px;}
.c-table-5 {width:419px;height:21px;background:url(../images/content_below_tile.jpg);font-family:Tahoma; font-size:11px; letter-spacing:1px; color:#fff; text-align:center; margin-top:3px;}
.c-table-5a {width:419px;height:42px;background:url(../images/content_below_tile2.jpg);font-family:Tahoma; font-size:11px; letter-spacing:1px; color:#fff; text-align:center; margin-top:3px;}
.c-table-6 {width:19px;height:21px;background:url(../images/content_below_02.jpg) no-repeat right top; background-color:#418bb1;}
.c-table-6a {width:19px;height:42px;background:url(../images/content_below_02a.jpg) no-repeat right top; background-color:#418bb1;}
.c-table-x {height:21px; font-family:Tahoma; font-size:11px; letter-spacing:1px; color:#fff; padding:auto 2px auto 2px; background-color:#418bb1;}
.c-table-xb {height:21px;font-size:11px; letter-spacing:1px; color:#fff; padding:auto 2px auto 2px; background-color:#418bb1;}
.c-table-xa {height:42px;background:url(../images/content_below_tile2.jpg) repeat-x top; font-family:Tahoma; font-size:11px; letter-spacing:1px; color:#fff;padding:auto 2px auto 2px; background-color:#418bb1;}
.c-table-y {height:21px;background:url(../images/content_below_tile.jpg);font-family:Tahoma; font-size:11px; letter-spacing:1px; color:#fff;}
.c-table-ya {height:42px;background:url(../images/content_below_tile2.jpg);font-family:Tahoma; font-size:11px; letter-spacing:1px; color:#fff;}

.c-table-x a:link,.c-table-x a:visited{color:#fff;text-decoration:none;}
.c-table-x a:hover {color:#fff;text-decoration:underline;}
.c-table-xa a:link,.c-table-x a:visited{color:#fff;text-decoration:none;}
.c-table-xa a:hover {color:#fff;text-decoration:underline;}
.c-table-2 a:link,.c-table-2 a:visited{color:#fff;text-decoration:none;}
.c-table-2 a:hover {color:#fff;text-decoration:underline;}
.c-table-3 a:link,.c-table-3 a:visited{color:#fff;text-decoration:none;}
.c-table-3 a:hover {color:#fff;text-decoration:underline;}
.c-table-4 a:link,.c-table-4 a:visited{color:#fff;text-decoration:none;}
.c-table-4 a:hover {color:#fff;text-decoration:underline;}
.c-table-5 a:link,.c-table-5 a:visited{color:#fff;text-decoration:none;}
.c-table-5 a:hover {color:#fff;text-decoration:underline;}

.c-clas-1 {background-color:#99c177;border-right:solid 1px #2f6a88;border-bottom:solid 1px #2f6a88;}
.c-clas-1a {background-color:#99c177;border-right:solid 1px #2f6a88;border-bottom:solid 1px #2f6a88;border-left:solid 1px #2f6a88;}
.c-clas-2 {background-color:#e6edf1;border-right:solid 1px #5299c1;border-bottom:solid 1px #5299c1;}
.c-clas-2aa {background-color:#e6edf1;}
.c-clas-2rlt {background-color:#e6edf1;font-family:Tahoma; font-size:12px; color:#2f6a88; text-align:left;padding:3px 3px 3px 3px;border-bottom:solid 1px #5299c1;}
.c-clas-2a {background-color:#c7e0b0;border-right:solid 1px #2f6a88;border-left:solid 1px #2f6a88;border-bottom:solid 1px #2f6a88;}
.c-clas-3 {background-color:#f8f9fb;border-right:solid 1px #2f6a88;border-bottom:solid 1px #2f6a88;}
.c-clas-3rlt {background-color:#f8f9fb;font-family:Tahoma; font-size:12px; color:#2f6a88; text-align:left;padding:3px 3px 3px 3px;border-bottom:solid 1px #2f6a88;}
.c-clas-3a {background-color:#f8f9fb;border-right:solid 1px #2f6a88;border-left:solid 1px #5299c1;border-bottom:solid 1px #2f6a88;}

.c-clas-text-1 {font-family:Tahoma; font-size:12px; color:#333; text-align:left;margin:3px 3px 3px 3px;}
.c-clas-text-1 a:link, .c-clas-text-1 a:visited {text-decoration:none;color:#333;}
.c-clas-text-1 a:hover {text-decoration:none;color:#3d721a;}

.c-clas-text-2 {font-family:Tahoma; font-size:12px; color:#2f6a88; text-align:left;margin:3px 3px 3px 3px;}
.c-clas-text-2 a:link, .c-clas-text-2 a:visited {text-decoration:none;color:#2f6a88;}
.c-clas-text-2 a:hover {text-decoration:none;color:#333;}


/* -- buttons -> STILL NEED CLEANUP*/
.button {
	padding:5px;
	border:none;
	-moz-border-radius:5px;
   	box-shadow:0 0 3px #000;
   	-webkit-box-shadow:0 0 3px #000;
	-moz-box-shadow:0 0 3px #000;
	background-color:#81B9DC;
	cursor:pointer;
	font-weight:bold;
}

.button-2 {
	margin-top:         0;
    margin-bottom:      0.5em;
    /* avoid a thick line since this should be used under another fieldset */
    border-top:         0;
    text-align:         right;
    float:              none;
    clear:              both;
    -webkit-border-radius:0 0 4px 4px;
    -moz-border-radius:0 0 4px 4px;
    border-radius: 0 0 4px 5px;

}

.button:hover {
	background-color:#B8D7E9;
   	box-shadow:0 0 7px #000;
   	-webkit-box-shadow:0 0 7px #000;
	-moz-box-shadow:0 0 7px #000;
}

a:hover .button {
	background-color:#B8D7E9;
   	box-shadow:0 0 3px #000;
   	-webkit-box-shadow:0 0 3px #000;
	-moz-box-shadow:0 0 3px #000;
}

input {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    background:url(../images/input_bg.gif);
}

.input {
	height:15px;
    border:1px solid #aaa;
    color:#555555;
    padding:4px;
    margin:6px;
}

.input2 {
	border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;

    box-shadow:0 1px 2px #ddd;
    -moz-box-shadow:0 1px 2px #ddd;
    -webkit-box-shadow:0 1px 2px #ddd;

    background:url(../images/input_bg.gif);
    border:1px solid #aaa;
    color:#555555;
    padding:4px;
    margin:6px;
}

.input-option {
    border:1px solid #aaa;
    color:#555555;
    padding:4px;
    margin:6px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
    background:url(../images/input_bg.gif);
}

.textarea {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border:1px solid #a9a9a9;
    margin:6px;
	padding:3px;
	height:45px;
	width:220px;
	font:12px Arial, Helvetica, sans-serif;
	background-color:#fff;
    background:url(../images/input_bg.gif) repeat-x #FFF;
}

.tablefield {
    border-radius:10px 10px 10px 10px;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius:10px 10px 10px 10px;
    padding:5px;
    border:             #aaa solid 1px;
    background:         #FFF;
    box-shadow: 2px 2px 2px #fff inset;
	-moz-box-shadow: 2px 2px 2px #fff inset;
    -webkit-box-shadow: 2px 2px 2px #fff inset;
	padding:5px;
	font-weight:bold;
	
}

.option {
	margin-right:100px;
}

.button1, .button1 div{height: 1%;float: right;}

.button2-left, .button2-right, .button2-left div, .button2-right div { float: left; }

.button1 {background: url(../images/j_button1_left.png) no-repeat; white-space: nowrap; padding-left: 10px; margin-left: 5px;}
.button1 .next {background: url(../images/j_button1_next.png) 100% 0 no-repeat; }

.button1 a {display: block;height: 26px;float: left;line-height: 26px;font-size: 12px;font-weight: bold;color: #333;cursor: pointer;padding: 0 30px 0 6px;}
.button1 a:hover {text-decoration: none; color: #0B55C4; }

.button2-left a, .button2-right a, .button2-left span, .button2-right span {display: block;height: 22px;float: left;line-height: 22px;font-size: 11px;color: #333;cursor: pointer;}

.button2-left span, .button2-right span {cursor: default; color: #999; }

.button2-left .page a, .button2-right .page a, .button2-left .page span, .button2-right .page span, .button2-left .blank a, .button2-right .blank a, .button2-left .blank span, .button2-right .blank span {padding: 0 6px; }
.page a:link, .page a:visited{text-decoration:none;}

.page span, .blank span {color: #000;font-weight: bold;}

.button2-left a:hover, .button2-right a:hover { text-decoration: none; color: #0B55C4; }
.button2-left a, .button2-left span { padding: 0 24px 0 6px; }
.button2-right a, .button2-right span { padding: 0 6px 0 24px; }

.button2-left {font-family:Tahoma;background: url(../images/j_button2_left.png) no-repeat; float: left; margin-left: 5px; }
.button2-right {font-family:Tahoma;background: url(../images/j_button2_right.png) 100% 0 no-repeat; float: left; margin-left: 5px; }
.button2-right .prev {font-family:Tahoma;background: url(../images/j_button2_prev.png) no-repeat; }
.button2-right .prev a:link, .button2-right .prev a:visited {text-decoration:none;}
.button2-right.off .prev {font-family:Tahoma;background: url(../images/j_button2_prev_off.png) no-repeat; }
.button2-right .start {font-family:Tahoma;background: url(../images/j_button2_first.png) no-repeat; }
.button2-right .start a:link, .button2-right .start a:visited{text-decoration:none;}
.button2-right.off .start {font-family:Tahoma;background: url(../images/j_button2_first_off.png) no-repeat; }

.button2-left .page, .button2-left .blank { background: url(../images/j_button2_right_cap.png) 100% 0 no-repeat; }
.button2-left .next {font-family:Tahoma;background: url(../images/j_button2_next.png) 100% 0 no-repeat; }
.button2-left .next a:link, .button2-left .next a:visited{text-decoration:none;}
.button2-left.off .next {font-family:Tahoma;background: url(../images/j_button2_next_off.png) 100% 0 no-repeat; }
.button2-left .end {font-family:Tahoma;background: url(../images/j_button2_last.png) 100% 0 no-repeat; }
.button2-left .end a:link, .button2-left .end a:visited{text-decoration:none;}
.button2-left.off .end {font-family:Tahoma;background: url(../images/j_button2_last_off.png) 100% 0 no-repeat; }

.button2-left .image { background: url(../images/j_button2_image.png) 100% 0 no-repeat; }
.button2-left .readmore { background: url(../images/j_button2_readmore.png) 100% 0 no-repeat; }
.button2-left .pagebreak { background: url(../images/j_button2_pagebreak.png) 100% 0 no-repeat; }
.button2-left .blank { background: url(../images/j_button2_blank.png) 100% 0 no-repeat; }

.textambahan {font-family:Tahoma;font-size:11px;color:#555;text-decoration:none;float: none;margin-top:10px;}
.textambahan a:link {color:#333;text-decoration:none;}

.textkolom {font-family:Tahoma;font-size:11px;color:#555;text-decoration:none;margin-left:10px;padding:0px;}
.textkolom a:link, .textkolom a:visited {color:#555;text-decoration:none;}
.textkolom a:hover {color:#333;text-decoration:none;}

.title { font:bold 15px verdana; margin-bottom:10px; color: #224488;}


/*==================================================*/

textarea {
    overflow:           visible;
   /* height:             18em;*/
}


fieldset {
    margin-top:         1em;
    border-radius:4px 4px 0 0;
    -moz-border-radius:4px 4px 0 0;
    -webkit-border-radius:4px 4px 0 0;
    padding:5px;
    border:             #aaa solid 1px;
    padding:            1.5em;
   /* background:         #efefef;*/
    text-shadow:0 1px 0 #fff;
	-moz-box-shadow: 1px 1px 2px #fff inset;
    -webkit-box-shadow: 1px 1px 2px #fff inset;
    box-shadow: 1px 1px 2px #fff inset;
}
/*
fieldset legend {
    font-weight:        bold;
    color:              #444;
    padding:5px 10px;
    border-radius:2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border:1px solid #aaa;
    background-color:   #fff;
    -moz-box-shadow:3px 3px 15px #bbb;
    -webkit-box-shadow:3px 3px 15px #bbb;
    box-shadow:3px 3px 15px #bbb;
}*/